node_modules
.next
out
build
*.log
.env
.env.local
*.db
*.db-journal
*.db-wal
*.db-shm
drizzle/meta
.DS_Store
public/uploads/
data/backups/**
!data/backups/.gitkeep
data/deploy/**
!data/deploy/.gitkeep
*.db.bak
